extends layout

block content
  .session-detail-view
    h1= session.topic
    p 📍 #{session.location || 'Location TBD'}
    p 📅 #{session.formatted_time}
    p 👤 Organised by
      a(href="/users/" + session.organiser_id)  #{session.first_name} #{session.last_name}
    p Max participants: #{session.max_participants || 'Unlimited'}

    h2 Participants (#{participants.length})
    if participants.length
      ul
        each p in participants
          li
            a(href="/users/" + p.user_id)= p.first_name + ' ' + p.last_name
            |  [#{p.status}]
    else
      p No participants have joined yet.

  a.btn(href="/sessions") ← Back to Sessions
