extends layout

block content
  article.session-info
    h1= session.topic
    p 📍 #{session.location || 'Location TBD'}
    p 📅 #{new Date(session.scheduled_time).toLocaleString('en-GB')}
    p 👤 Hosted by 
      a(href="/users/" + session.host_id) #{session.first_name} #{session.last_name}
    p 👥 Up to #{session.max_participants || 'unlimited'} participants

  section.participants
    h2 Participants
    if participants.length
      ul
        each p in participants
          li
            a(href="/users/" + p.user_id)= p.first_name + ' ' + p.last_name
            span.status  (#{p.status})
    else
      p No one has joined this session yet.

  a.btn(href="/sessions") ← All Sessions
