extends layout

block content
  .profile
    h1= user.first_name + ' ' + user.last_name
    p= user.uni + ' – ' + user.dept
    p= user.academic_level
    p= user.bio

    h2 Skills
    if skills.length
      ul
        each s in skills
          li= s.skill_name + ' – ' + s.proficiency_level
    else
      p None listed.

    h2 Courses
    if courses.length
      table
        thead
          tr: th Code
          tr: th Name
          tr: th Semester
          tr: th Year
        tbody
          each c in courses
            tr
              td= c.course_code
              td= c.course_name
              td= c.semester
              td= c.year
    else
      p No courses.

  a.btn(href="/users") Back
